<h1>Listing teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Num of Pets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.pets.count %></td>
    <td><%= link_to 'Add Pets', team %></td>
    <td><%= link_to 'Edit Name', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
<%= link_to 'Back', '/' %>
