<h1><%= @waiting[@game.stage] %></h1>
<br/>
<div style="
    float: left;
    margin-right: 5%;
    margin-left: 25%;
">
    <h2><%= @game.user.email %>'s Pets</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <% @user_pets.each do |p| %>
            <tr <%= render 'pick_style', :status => p.status %>>
                <td><a href="http://www.wowhead.com/npc=<%=p.pet.speciesId%>"><%=p.pet.name%></a></td>
                <% if p.status == 0 %>
                  <%= render 'opponent_form', :p => p, :game => @game, :user => @user %>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>

<div>
    <h2><%= @game.opponent.email %>'s Pets</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <% @opponent_pets.each do |p| %>
            <tr <%= render 'pick_style', :status => p.status %>>
                <td><a href="http://www.wowhead.com/npc=<%=p.pet.speciesId%>"><%=p.pet.name%></a></td>
                <% if p.status == 0 %>
                  <%= render 'user_form', :p => p, :game => @game, :user => @user %>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>

<br/>

<%= link_to 'End Game', :controller => 'game', :action => 'destroy' %>
<%= link_to 'Reset Game', :controller => 'game', :action => 'reset' %>
