<%= form_for(@lobby) do |f| %>
  <% if @lobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lobby.errors.count, "error") %> prohibited this lobby from being saved:</h2>

      <ul>
      <% @lobby.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label :opponent %><br />
    <%= f.text_field :opponent %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br />
    <%= f.check_box :accepted %>
  </div>
  <div class="field">
    <%= f.label :challengetime %><br />
    <%= f.datetime_select :challengetime %>
  </div>
  <div class="field">
    <%= f.label :game %><br />
    <%= f.text_field :game %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
