<% if @accepted_games.count > 0 %>
    <% @accepted_games.each do |g| %>
        <h1><%= link_to("Join Active Game \##{g.game.id}", "/games/#{g.game.id}")%></h1>
    <% end %>
<% end %>

<% if @challenges.count > 0 %>
    <h1>Incoming Challenges</h1>
    <% @challenges.each do |c| %>
        <%= form_tag(:controller => "lobbies", :action => 'accept', :method => 'post') do %>
            <%= label_tag("Challenge from #{c.user.email}")%>
            <%= label_tag("Team:") %>
            <%= collection_select(:team, :id, current_user.teams, :id, :name) %>
            <%= submit_tag("Accept") %>
            <%= submit_tag("Reject") %>
            <%= hidden_field_tag(:id, c.id) %>
        <% end %>
    <% end %>
<% end %>

<% if @pending_games.count > 0 %>
    <h1>Pending Challenges</h1>
    <% @pending_games.each do |c| %>
        <%= form_tag(:controller => "lobbies", :action => 'accept', :method => 'post') do %>
            <%= label_tag("Challenging #{c.opponent.email}")%>
            <%= label_tag("Team: #{c.team.name}") %>
            <%= submit_tag("Cancel") %>
            <%= hidden_field_tag(:id, c.id) %>
        <% end %>
    <% end %>
<% end %>

<% if @lobbies.count > 0 and @pending_games.count == 0 %>
    <h1>Challenge another</h1>
    <%= render 'lobby_form' %>
<% elsif @challenges.count > 0 or @accepted_games.count > 0 %>
    <h1>No users online, invite some friends</h1>
<% end %>
