<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lobby.user %>
</p>

<p>
  <b>Time:</b>
  <%= @lobby.time %>
</p>

<p>
  <b>Team:</b>
  <%= @lobby.team %>
</p>

<p>
  <b>Opponent:</b>
  <%= @lobby.opponent %>
</p>

<p>
  <b>Accepted:</b>
  <%= @lobby.accepted %>
</p>

<p>
  <b>Challengetime:</b>
  <%= @lobby.challengetime %>
</p>

<p>
  <b>Game:</b>
  <%= @lobby.game %>
</p>


<%= link_to 'Edit', edit_lobby_path(@lobby) %> |
<%= link_to 'Back', lobbies_path %>
