<% if user_signed_in? %>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  <p>Hello World</p>
  <% if @character %>
    <p>
      <%= @character.name %>
      <%= @character.server %>
      <%= @character.region %>
    </p>
    <%= link_to 'Update Pets', '/update' %>
    <h1>Pets</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Level</th>
        </tr>
        <% @pets.each do |p| %>
        <tr>
            <td><%=p.name%></td>
            <td><%=p.level%></td>
        </tr>
        <% end %>
    </table>
<% else %>
  <%= link_to 'New Character', 'characters/new' %>
<% end %>
<% else %>
  <li><%= link_to('Login', new_user_session_path) %></li>
<% end %>
